$icomoon-font-family: 'storipress-fontbook' !default;
$icomoon-font-path: 'fonts' !default;

$icon-account_circle: '\e906';
$icon-add_image: '\e907';
$icon-all_caps: '\e908';
$icon-arrow_left: '\e909';
$icon-arrow_right: '\e90a';
$icon-arrow-down: '\e90b';
$icon-arrow-up: '\e90c';
$icon-bookmark: '\e90d';
$icon-calendar-done: '\e90e';
$icon-calendar: '\e90f';
$icon-check: '\e910';
$icon-chevron_down: '\e911';
$icon-chevron_left: '\e912';
$icon-chevron_right: '\e913';
$icon-chevron_up: '\e914';
$icon-circle-cancel: '\e915';
$icon-clock: '\e900';
$icon-comment: '\e901';
$icon-copy: '\e902';
$icon-cross_thin-2: '\e903';
$icon-cross_thin: '\e904';
$icon-cross: '\e905';
$icon-delete: '\e916';
$icon-desk: '\e917';
$icon-desktop: '\e918';
$icon-divider: '\e919';
$icon-dots_horizontal: '\e91a';
$icon-dots_vertical: '\e91b';
$icon-down_arrow: '\e91c';
$icon-draft: '\e91d';
$icon-edit_meta: '\e91e';
$icon-email: '\e91f';
$icon-filter: '\e920';
$icon-focal_point: '\e921';
$icon-focus-2: '\e922';
$icon-focus: '\e923';
$icon-font: '\e924';
$icon-for_review: '\e925';
$icon-format_align_center: '\e926';
$icon-format_align_left: '\e927';
$icon-format_align_right: '\e928';
$icon-format_bold: '\e929';
$icon-format_italics: '\e92a';
$icon-format_line_spacing: '\e92b';
$icon-format_underline: '\e92c';
$icon-fountain_pen_tip: '\e92d';
$icon-gallery: '\e92e';
$icon-goto-url: '\e92f';
$icon-H1: '\e930';
$icon-H2: '\e931';
$icon-hamburger: '\e932';
$icon-history: '\e933';
$icon-home: '\e934';
$icon-html_embed: '\e935';
$icon-image: '\e936';
$icon-integrations: '\e937';
$icon-internet: '\e938';
$icon-justify_expand: '\e939';
$icon-justify_fill: '\e93a';
$icon-justify_fit: '\e93b';
$icon-link_variant: '\e93c';
$icon-list_bullet: '\e93d';
$icon-list_number: '\e93e';
$icon-lock-filled: '\e93f';
$icon-lock: '\e940';
$icon-logout: '\e941';
$icon-lower_caps: '\e942';
$icon-magnify: '\e943';
$icon-minus_circle_outline: '\e944';
$icon-minus_circle: '\e945';
$icon-mobile: '\e946';
$icon-page_colour-path1: '\e947';
$icon-page_colour-path2: '\e948';
$icon-page_elements: '\e949';
$icon-plus_circle_outline: '\e94a';
$icon-plus_circle: '\e94b';
$icon-plus: '\e94c';
$icon-preview: '\e94d';
$icon-publication: '\e94e';
$icon-publications: '\e94f';
$icon-published: '\e950';
$icon-question-mark-inverse: '\e951';
$icon-question-mark: '\e952';
$icon-quote: '\e953';
$icon-redo: '\e954';
$icon-refresh: '\e955';
$icon-return: '\e956';
$icon-rocket: '\e957';
$icon-schedule: '\e958';
$icon-selector: '\e959';
$icon-SEO: '\e95a';
$icon-settings: '\e95b';
$icon-share: '\e95c';
$icon-sort: '\e95d';
$icon-star_outline: '\e95e';
$icon-star: '\e95f';
$icon-strikethrough: '\e960';
$icon-svg: '\e961';
$icon-swap-replace: '\e962';
$icon-tablet: '\e963';
$icon-tag: '\e964';
$icon-team: '\e965';
$icon-templates: '\e966';
$icon-text_colour-path1: '\e967';
$icon-text_colour-path2: '\e968';
$icon-text_hover_colour-path1: '\e969';
$icon-text_hover_colour-path2: '\e96a';
$icon-text: '\e96b';
$icon-theme: '\e96c';
$icon-tick_circle: '\e96d';
$icon-tick: '\e96e';
$icon-undo: '\e96f';
$icon-up_arrow: '\e970';
$icon-upload: '\e971';
$icon-user: '\e972';
$icon-users: '\e973';
$icon-warning: '\e974';
$icon-web: '\e975';
